<title>consultation</title>
<div class="wrapper">
<div *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type"  [dismissible]="false" >
        <div class="container">
            <div class="alert-wrapper">
                <button type="button" name="button" class="close" (click)="closeAlert(alert)">
                  <span aria-hidden="true">
                      <i class="now-ui-icons ui-1_simple-remove"></i>
                  </span>
                </button>
                <div class="message">
                    <ng-container *ngIf="alert.icon">
                      <div class="alert-icon">
                          <i class="now-ui-icons {{alert.icon}}"></i>
                      </div>
                    </ng-container>
                    <strong>{{alert.strong}} </strong>{{ alert.message }}
                </div>
            </div>
        </div>
    </ngb-alert>
</div>
<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Motive</th>
        <th>Creation Date</th>
        <th>Status</th>
        <th>Code</th>
        <th>Type</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consultation of consultations">
        <td>{{ consultation.id_cons }}</td>
        <td>{{ consultation.motive_cons }}</td>
        <td>{{ consultation.creationdate_cons | date:'medium' }}</td>
        <td>{{ consultation.status_cons }}</td>
        <td>{{ consultation.code_cons }}</td>
        <td>{{ consultation.typecons }}</td>
        <td>
        <tr>
        <button (click)="assignConsultToUser(consultation.id_cons)" *ngIf="consultation.status_cons === false">Assign Consultation</button>
        <button (click)="deleteConsultation(consultation.id_cons)" *ngIf="consultation.status_cons === false">Reject Consultation</button>
        </tr>
        <button (click)="deleteConsultation(consultation.id_cons)" *ngIf="consultation.status_cons === true">Cancel Consultation</button>
        </td>
      </tr>
    </tbody>
</table>
</div>

  