<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Welcome to Goliath National Bank</h1>
                <div class="text-center">
                  <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a  class="btn btn-primary btn-icon btn-round" style="background-color:rgb(0, 0, 0);">
                    <i class="fab fa-google-plus"></i>
                  </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us" style="margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h1 class="title" style="color: #2ca8ff;">Who are we ?</h1>
                    <h3 class="description">We are a financial institution that provides a range of financial services to individuals and small businesses who lack access to traditional banking services. Our mission is to empower our clients to improve their lives by providing them with access to credit, savings, insurance, and other financial products and services.</h3>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('assets/img/loan.jpeg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary" style="color: #810000;">"At our microfinance bank, we believe that financial inclusion is essential for economic growth and development. That's why we work tirelessly to reach underserved communities and provide them with the financial tools they need to succeed." 
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('assets/img/savings.webp');margin-top: 500px;"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('assets/img/need.jpeg')"></div>
                        <h1 class="description" style="color: #2ca8ff;">So what is it that we really do ?</h1>
                        <h3  class="description"style="color: black;"> Whether you're looking to start a business, save for your future, or manage your finances more effectively, our microfinance bank is here to help.</h3>
                        <h3 class="description" style="color: black;" >We pride ourselves on our customer-centric approach, and we are always looking for new ways to improve our services and better serve our clients.</h3>
                        <h3 class="description" style="color: black; ">That's why we work tirelessly to reach underserved communities and provide them with the financial tools they need to succeed.</h3>
                            <style>
                                .blink {
                                    animation: blinker 1.5s linear infinite;
                                    color: red;
                                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                                    font-size: 20px;
                                }
                                @keyframes blinker {
                                    50% {
                                        opacity: 10%;
                                    }
                                }
                            </style>
                        <p class="blink">Our team of dedicated professionals is committed to providing high-quality services and support to all of our clients.</p>
                        <h3 class="description" style="color: black;" >Thank you for visiting our website, and we hope you find the information you're looking for. If you have any questions or would like to learn more about our microfinance bank, please don't hesitate to contact us.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-team text-center" style="padding: 0%;">
        <div class="container">
            <p class="blink" style="color: #2ca8ff;  font-size: 50px; margin-bottom: 50px;">Here is our team<p>
            <div class="team">
                <div class="row">
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Sara Wahada</h4>
                            <p class="category text-primary"><font color="red">Consultant</font></p>
                            <p class="description"> Highly motivated and experienced, our consultant will be responsible for providing you with financial advice and guidance to achieve your financial goals.
                                <a></a></p>
                                <a href="examples/profileConsultant" class="btn btn-primary btn-round btn-block btn-lg" style="background-color: #2ca8ff;">View profile</a>
                                <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                                    <i class="fab fa-google-plus"></i></a>
                                    <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                                        <i class="fab fa-youtube"></i></a>
                                        <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                                            <i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Ryan Tompson</h4>
                            <p class="category text-primary"><font color="red">Consultant</font></p>
                            <p class="description"> Highly motivated and experienced, our consultant will be responsible for providing you with financial advice and guidance to achieve your financial goals.
                                <a></a></p>
                                <a href="examples/profile" class="btn btn-primary btn-round btn-block btn-lg" style="background-color: #2ca8ff;">View profile</a>
                                <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                                    <i class="fab fa-google-plus"></i></a>
                                    <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                                        <i class="fab fa-youtube"></i></a>
                                        <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                                            <i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="team-player">
                            <img src="assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Eva Jenner</h4>
                            <p class="category text-primary"><font color="red">Consultant</font></p>
                            <p class="description"> Highly motivated and experienced, our consultant will be responsible for providing you with financial advice and guidance to achieve your financial goals.
                                <a></a></p>
                                <a href="examples/profile" class="btn btn-primary btn-round btn-block btn-lg" style="background-color: #2ca8ff;">View profile</a>
                                <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                                    <i class="fab fa-google-plus"></i></a>
                                    <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                                        <i class="fab fa-youtube"></i></a>
                                        <a  class="btn btn-primary btn-icon btn-round" style="background-color: rgb(0, 0, 0);">
                                            <i class="fab fa-twitter"></i></a>
                                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title" style="color: #2ca8ff;">Want to work with us?</h2>
            <p class="description">Your project is very important to us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                          <i class="now-ui-icons users_circle-08"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="your email..." (focus)="focus=true" (blur)="focus=false">
                  </div>
                  <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                    <div class="input-group-prepend" >
                      <span class="input-group-text">
                            <i class="now-ui-icons ui-1_email-85"></i>
                      </span>
                    </div>
                      <input type="text" class="form-control" placeholder="the subject..." (focus)="focus1=true" (blur)="focus1=false">
                  </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg" style="background-color: #2ca8ff;">Send mail</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a href="#">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            License
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                {{data | date: 'yyyy'}}
            </div>
        </div>
    </footer>
</div>
